<div class="container mt-4">
    <div class="row">

      <div class="col-md-3">
        <%= render 'users/user' %>
        <%= render 'books/new' %>
      </div>

      <div class="col-md-8 offset-md-1">
          <h1>Book detail</h1>
          <table class="w-100">
            <thead class="border-top border-bottom border-seconddark">
              <tr>
                <th colspan="1"></th><th>タイトル</th><th>本文</th><th colspan="4"></th><th colspan="5"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="border-bottom border-seconddark">
                <td class="pt-4">
                   <%= link_to user_path(@book.user.id) do %>
                      <p><%= image_tag @book.user.get_profile_image(100,100) %></p>
                      <span><%= @book.user.name %></span>
                   <% end %>
                </td>
                <td><%= link_to @book.title, book_path(@book.id) %></td>
                <td><%= @book.body %></td>
                <td>
                  <% if @book.user == current_user %>
                    <%= link_to 'Edit', edit_book_path(@book.id) %></td>
                  <% end %>
                <td>
                  <% if @book.user == current_user %>
                    <%= link_to 'Destroy', book_path(@book.id) , method: :delete %></td>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
      </div>

    </div>
  </div>